*.swp
deps/*
objs/*
objs_dis/*
asmouts/*
preprocs/*
small_code_testing_things/*
*.elf
*.gba
disassembly_all_2.armasm
symbols.txt
linker_map.txt
copyright_text_thing.txt
disassembly*.armasm
*.sav*
*.ss*
*.gdb_history*
