*.sw[po]
deps/*
objs/*
objs_dis/*
asmouts/*
preprocs/*
deps_debug/*
objs_debug/*
objs_dis_debug/*
asmouts_debug/*
preprocs_debug/*
small_code_testing_things/*
util/*/deps/*
util/*/objs/*
util/*/objs_dis/*
util/*/asmouts/*
util/*/preprocs/*
util/*/deps_debug/*
util/*/objs_debug/*
util/*/objs_dis_debug/*
util/*/asmouts_debug/*
util/*/preprocs_debug/*
*.elf
*.gba
util/*/*.elf
util/*/*.bin
util/*/*.hexdump
*.armasm
symbols.txt
linker_map.txt
copyright_text_thing.txt
*.sav*
*.ss*
*.gdb_history*
tags
types_*.taghl
*/tags
*/types_*.taghl
makefile_temp
*.txt.ignore
gfx/references
